h2{
    color: rgb(51, 139, 0);
    background-color: cornflowerblue;
}

h3{
    color: deeppink;
}

p{
    color: darksalmon;
    background-color: brown;
}

.firstdiv{
    background-color: rgb(163, 250, 1);
}

#pid{
    background-color: rgb(255, 0, 179);
}

div{
    background-color: black;
}

span{
    background-color: darkslateblue;
}

h1{
    color: aliceblue;
}
 
h4{
    color: aliceblue;
}

#p2id{
    color: chartreuse;
}

.seconddiv{
    background-color: rgb(78, 76, 78);
}